/* line 17, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/allocations.scss */
.allocation-usage-portlet div.loading {
  background: url("images/progress_bar/loading_animation.gif") transparent no-repeat center center;
  margin: 1em;
  padding-bottom: 64px;
  text-align: center;
}
/* line 12, ../sass/allocations.scss */
.allocation-usage-portlet .inactive {
  display: none;
}
/* line 16, ../sass/allocations.scss */
.allocation-usage-portlet ul.links {
  float: right;
}
/* line 20, ../sass/allocations.scss */
.allocation-usage-portlet a.load {
  overflow: hidden;
  display: block;
  position: relative;
  background-color: #f1f1f1;
  background-image: none;
  border-radius: 3px 3px 3px 3px;
  height: 16px;
}
/* line 30, ../sass/allocations.scss */
.allocation-usage-portlet span.load-value {
  display: block;
  position: relative;
  background-color: #003358;
  /* border-radius: 2px 0px 0px 2px; */
  border-radius: 3px 3px 3px 3px;
  float: left;
  z-index: 9;
  height: 16px;
}
/* line 42, ../sass/allocations.scss */
.allocation-usage-portlet span.load-overlay {
  display: block;
  background-color: transparent;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2) 10%, rgba(0, 0, 0, 0.2));
  border-radius: 3px 3px 3px 3px;
  height: 16px;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 55, ../sass/allocations.scss */
.allocation-usage-portlet .divider {
  margin: 10px 0;
  padding: 0;
}
/* line 60, ../sass/allocations.scss */
.allocation-usage-portlet ul {
  list-style: none;
}
