@import "compass/reset";

.allocation-usage-portlet { 

	div.loading {
		background: url('images/progress_bar/loading_animation.gif') transparent no-repeat center center;
		margin: 1em;
		padding-bottom: 64px;
		text-align: center;
	}
	
	.inactive {
		display: none;
	}
	
	ul.links {
		float: right;
	}

	a.load {
		overflow:hidden;
		display: block;
		position: relative;
		background-color: #f1f1f1;
		background-image: none;
		border-radius: 3px 3px 3px 3px;
		height: 16px;
	}
	
	span.load-value {
		display: block;
		position: relative;
		background-color: #003358;	
		/* border-radius: 2px 0px 0px 2px; */
		border-radius: 3px 3px 3px 3px;
		float:left;
		z-index: 9;
		
		height: 16px;
	}
	
	span.load-overlay {
		display:block;
		background-color:transparent;
		background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2) 10%,rgba(0,0,0,.2));
		border-radius: 3px 3px 3px 3px;
		height: 16px;
		position: absolute;
		z-index: 10;
		width: 100%;
		top: 0;
		left: 0;
	}
	
	.divider {
		margin: 10px 0;
		padding: 0;
	}
	
	ul {
		list-style: none;
	}
}



