<h4>Projects</h4>
<div class="allocation-usage-portlet">
<div>
	<ul class="links">
		<li><a href="#" class="toggle project" type="project" style="display: inline;">Show Inactive Projects</a></li>
		<li><a href="#" class="toggle project" type="project"  style="display: none;">Hide Inactive Projects</a></li>
		<li><a href="#" class="toggle allocation" type="allocation" style="display: inline;">Show Expired/Inactive Allocations</a></li>
		<li><a href="#" class="toggle allocation" type="allocation" style="display: none;">Hide Expired/Inactive Allocations</a></li>
	</ul>
</div>

<div class="divider"></div>
{{#each projects}} 
	{{#if this.active}}
		<div class="active project">
	{{else}}
		<div class="inactive project">
	{{/if}}
		<div class="project-header">
			<h6 class="project-header-text">
				{{this.title}}
				<!-- Probably do my nifty "roles" trick here rather than this -->
				{{#if admin}}
				<!-- RENDER PROJECT USAGE -->
					<a class="allocation-usage" href=""> 
						View usage for {{this.chargeNumber}}
					</a> 
				{{/if}}
			</h6>
			<ul>
				<li><strong>Project PI:</strong> 
					<span>{{this.pi.firstName}}	{{this.pi.lastName}}</span>
				</li>
				<li><strong>Charge No.:</strong> 
					<span>{{this.chargeNumber}}</span>
				</li>
			</ul>
		</div>

		<div class="divider"></div>
		<table width="100%">
			<thead>
				<tr>
					<th>Resource</th>
					<th>Award</th>
					<th>Usage</th>
					<th>Burn Rate</th>
					<th>End Date<br />[Days Left]</th>
					<th>Type</th>
					<th>State</th>
					<th>Users</th>
				</tr>
			</thead>
			<tbody>
				{{#each this.allocations}} 
					{{#if this.active}}
						<tr class="active allocation">
					{{else}}
						<tr class="inactive allocation">
					{{/if}}
					<td>{{this.resource.commonName}}</td>
					<td>
						{{this.percentRemain}} | {{this.remainingAllocFormatted}} GBs left <br /> 
						<a class="load"> 
							<span class="load-overlay"></span>
							<span class="load-value" style="width: {{this.percentRemain}}"></span>
						</a> from {{this.baseAllocFormatted}} GB award
					</td>
					<td class="usage">
						<a class="allocation-usage tooltip" href="{{renderURL request view="detailedUsage" accountId=this.accountId}}"
							title="View detailed usage for {{this.resource.commonName}}"
							alt="View detailed usage for {{this.resource.commonName}}"> 
							{{this.usedAllocFormatted}} SUs
						</a>
					</td>
					<td>
							{{this.burnRateFormatted}} [{{this.burnRateRatioFormatted}}% of {{this.idealBurnRateFormatted}}]
					</td>
					<td>
						<div class="tooltip" title="Start Date: {{this.initialStartDate}}">
						{{jodaPatternHelper this.endDate "y-MM-d"}}
						[{{this.daysLeft}}d]
						</div>
					</td>
					<td>{{this.allocationType}}</td>
					<td>
					{{#if this.active}}
							active
						{{else}}
							inactive
						{{/if}}
					</td>
					<td>
						<a class="allocation-usage tooltip usage" href="{{renderURL request view="manageUsers" accountId=this.accountId}}">Manage Users</a>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="divider"></div>
	</div>
	{{/each}}
	
<fieldset class="admin">
	<legend>Admin</legend>
		<form action="{{actionURL request action="adminOverride"}}" method="post">
			<label for="adminOverrideUser">Username override</label>
			<input type="text" name="adminOverrideUser" value="{{adminOverrideUser}}" />
			<input type="hidden" name="redirect" value="{{renderURL request}}" /> 
			<input type="submit" value="Submit" />
		</form>
		<form action="{{actionURL request action="adminOverride"}}" method="post">
			<input type="hidden" name="adminOverrideUser" value="" /> 
			<input type="hidden" name="redirect" value="{{renderURL request}}" /> 
			<input type="submit" value="Reset" />
		</form>
</fieldset>
<div>
	<p>
		Allocations for Supplements, Advances and Transfers appear in the
		portal before they appear in the accounting records at XSEDE sites.
		Please allow 24 hours after you receive an award notification for
		the allocation updates to appear in the accounting records of the XSEDE
		sites.
	</p>
</div>
</div>