<div class="allocation-usage-portlet">
<h5>Active Projects Summary</h5> &nbsp;(<a href="/group/xup/allocations/usage">See Full View</a>)<br />
{{#each activeProjects}} 
		<div class="divider"></div>
			<table>
				<thead>
					<tr>
						<th colspan="4">{{this.title}}</th>
					</tr>
					<tr>
						<th>Resource</th>
						<th>% Left</th>
						<th>End Date<br/>[Days Left]</th>
						<th>Burn Rate</th>
					</tr>
				</thead>
				<tbody>
					{{#each this.allocations}} 
						<tr>
							<td>{{this.resource.commonName}}</td>
							<td>
								{{this.percentRemain}} | {{this.remainingAllocFormatted}} GBs left <br /> 
								<a class="load"> 
									<span class="load-overlay"></span>
									<span class="load-value" style="width: {{this.percentRemain}}"></span>
								</a> from {{this.baseAllocFormatted}} GB award
							</td>
							<td>
								<div class="tooltip" title="Start Date: {{this.initialStartDate}}">
								{{jodaPatternHelper this.endDate "y-mm-d"}}
								[{{this.daysLeft}}d]
								</div>
							</td>
							<td>
								{{this.burnRateFormatted}} [{{this.burnRateRatioFormatted}}% of {{this.idealBurnRateFormatted}}]
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		<div class="divider"></div>
	</div>
{{/each}}
	
<fieldset class="admin">
	<legend>Admin</legend>
		<form action="{{actionURL request action="adminOverride"}}" method="post">
			<label for="adminOverrideUser">Username override</label>
			<input type="text" name="adminOverrideUser" value="{{adminOverrideUser}}" />
			<input type="hidden" name="redirect" value="{{renderURL request}}" /> 
			<input type="submit" value="Submit" />
		</form>
		<form action="{{actionURL request action="adminOverride"}}" method="post">
			<input type="hidden" name="adminOverrideUser" value="" /> 
			<input type="hidden" name="redirect" value="{{renderURL request}}" /> 
			<input type="submit" value="Reset" />
		</form>
</fieldset>

</div>